
server:
  port: 9000
spring:
  application:
    name: travel-service
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:6000/travel_service_db
    username: postgres
    password: postgres
  jpa:
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        show_sql: true
        format_sql: true
        highlight_sql: true
  liquibase:
    url: jdbc:postgresql://localhost:6000/travel_service_db
    user: postgres
    password: postgres
logging:
  level:
    org.springframework.transaction.interceptor: TRACE